In [4]:
import sys
import numpy as np
import pandas as pd

In [5]:
from libs import decisions as dc
%load_ext autoreload
%autoreload 2
from libs import decisions as dc

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
c1=[10,10,20]
c2=[20,10,30]
idx = ['x','y','z']

In [14]:
A = pd.DataFrame({'e1':c1,
                  'e2':c2,}, index = idx)
A

   e1  e2
x  10  20
y  10  10
z  20  30

In [15]:
dc.min_max_cost(A)

Strategy:y
Value:10

('y', 10)

In [16]:
dc.max_max_gain(A)

Strategy:z
Value:30

('z', 30)

In [25]:
dc.savage_regret(A)

Regret Matrix:
   e1  e2  maxR
x  10  10    10
y  10  20    20
z   0   0     0

Strategy:z
Value:0

('z', 0)

In [26]:
dc.laplace(A)

Strategy:z
Value:25.0

('z', 25.0)

In [27]:
dc.hurwicz(A, alpha=0.5)

Matrix:
   e1  e2  min  max   hwz
x  10  20   10   20  15.0
y  10  10   10   10  10.0
z  20  30   20   30  25.0

Strategy:z
Value:25.0

('z', 25.0)