In [6]:
import numpy as np
import pandas as pd

In [8]:
outlook = ['s','s','o','r','r','r','o','s','s','r','s','o','o','r']
temp = ['h','h','h','m','c','c','c','m','c','m','m','m','h','m']
hum = ['h','h','h','h','n','n','n','h','n','n','n','h','n','h']
wind = [0,1,0,0,0,1,1,0,0,0,1,1,0,1]
play = [0,0,1,1,1,0,1,0,1,1,1,1,1,0]

In [10]:
table = pd.DataFrame({'outlook':outlook,
                      'temp':temp,
                      'hum':hum,
                      'wind':wind,
                      'play':play,})
n = len(table)
table

   outlook temp hum  wind  play
0        s    h   h     0     0
1        s    h   h     1     0
2        o    h   h     0     1
3        r    m   h     0     1
4        r    c   n     0     1
5        r    c   n     1     0
6        o    c   n     1     1
7        s    m   h     0     0
8        s    c   n     0     1
9        r    m   n     0     1
10       s    m   n     1     1
11       o    m   h     1     1
12       o    h   n     0     1
13       r    m   h     1     0

### $1 \ P(Humidity = high)$

In [54]:
len(table[table['hum']=='h']) / n

0.5

### $2 \ P(Play = yes)$

In [55]:
len(table[table['play']==1]) / n

0.6428571428571429

### $3 \ P(Play=yes | Outlook=sunny)$

In [56]:
len(table[table['outlook']=='s'][table['play']==1]) / len(table[table['outlook']=='s'])

<ipython-input-56-de99ec93996b>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(table[table['outlook']=='s'][table['play']==1]) / len(table[table['outlook']=='s'])

0.4

### $4 \ P(Play=yes | Temperature=hot)$

In [32]:
len(table[table['temp']=='h'][table['play']==1]) / len(table[table['temp']=='h'])

<ipython-input-32-a2a20f08a7f8>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(table[table['temp']=='h'][table['play']==1]) / len(table[table['temp']=='h'])

0.5

### $5 \ P(Windy=true \cap Play=yes)$

In [58]:
(len(table[table['play']==1][table['wind']==1]) / len(table[table['play']==1])) * (len(table[table['play']==1]) / n)

<ipython-input-58-2f5b7aefae0d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (len(table[table['play']==1][table['wind']==1]) / len(table[table['play']==1])) * (len(table[table['play']==1]) / n)

0.2142857142857143

### $6 \ P(Windy=false \cap Play=yes)$

In [51]:
(len(table[table['play']==1][table['wind']==0]) / len(table[table['play']==1])) * (len(table[table['play']==1]) / n)

<ipython-input-51-0f784888916a>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (len(table[table['play']==1][table['wind']==0]) / len(table[table['play']==1])) * (len(table[table['play']==1]) / n)

0.4285714285714286